@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

.access-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  height: 100vh;
  padding-top: 10px;
}

.header-title {
  width: 1671px;
  height: 146px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 110px;
  font-weight: bold;
  color: #000;
  margin: 0;
}

.navbar-container {
  display: flex;
  justify-content: center;
  width: 1325px;
  height: 228px;
  margin-top: 83px;
}

.location {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 196px;
  height: 228px;
  margin: 0 15px;
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
  background-color: #c0c0c0;
  transition: background-color 0.3s, transform 0.3s;
}

.location:hover {
  background-color: #b0b0b0;
  transform: scale(1.05);
}

.location.selected {
  background-color: #0fc0fc;
}

.location-img {
  width: 144.01px;
  height: 143.74px;
  margin-top: 16px;
  margin-left: 26px;
  margin-right: 26px;
}

.location-icon {
  font-size: 24px;
}

.location-name {
  margin-top: 5px;
  font-size: 35px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.categories-container {
  margin-top: 60px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.category {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center the children horizontally */
  text-align: center;
  background-color: #0fc0fc;
  color: black;
  width: 241px;
  height: 240px;
  padding: 20px; /* Padding adjusted to be consistent */
  margin: 43px;
  border-radius: 10px;
  font-size: 35px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.category:hover {
  background-color: #0fc0fc;
  transform: scale(1.02);
}

.category-icon {
  width: 144.01px;
  height: 143.74px;
}

.category-names {
  font-size: 35px;
  line-height: 40px;
  width: 156px;
  height: 57px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}
