@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

.profile-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  height: 100vh;
  padding-top: 20px;
}

.profile-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.profile-picture {
  width: 245px;
  height: 245px;
}

.change-picture {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  margin-top: 10px;
  color: #000000;
  cursor: pointer;
}

.username {
  font-family: 'Inter', sans-serif;
  font-size: 40px;
  font-weight: medium;
  margin-top: 10px;
}

.options-list {
  width: 100%;
  max-width: 410px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}

.option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #0FC0FC;
  color: black;
  width: 100%;
  height: 64px;
  padding: 0 10px; /* 20 tha phle */
  margin: 4px 0;
  border-radius: 10px;
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.option:hover {
  background-color: #0FC0FC;
  transform: scale(1.02);
}

.option-icon {
  width: 40px; /* sabka alag alag hai */
  height: 40px;
  margin-right: 15px; /* 25.42 */
}

.option-name {
  flex-grow: 1;
  text-align: left;
}

.option-arrow {
  width: 30px;
  height: 30px;
  margin-left: 15px;/* 30 */
}

.logout-button {
  background-color: #0FC0FC;
  color: #000000;
  border: none;
  width: 309px; 
  height: 64px; 
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 24px;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: bold;
  margin-top: 20px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.logout-button:hover {
  background-color: #0FC0FC;
  transform: scale(1.02);
}

@media (max-width: 971px) {
  .profile-picture{
    width: 7.813rem;
    height: 7.813rem;

  }
  .username{
    width: 13.125rem;
    height: 2.813rem;
    font-size: 1.875rem;
  }
  .options-list{
    width: 20.875rem;
    height: auto;
  }
  .option-icon{
    margin-right: 0.625rem;
  }
  
.option-name{
  width: 12.313rem;
  height: 1.563rem;
  font-size: 1.25rem;
}
.option-arrow{
  width: 0.875rem;
  height: 1.438rem;
  margin-left: 0.625rem;
}
.logout-button{
  width: 13.625rem;
  font-size: 1.25rem;
  border-radius: 0.5rem;
}

}