@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Inter:wght@100..900&display=swap");

.dictionary-total-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  height: 100vh;
  padding-top: 0.625rem;
}
.dictionary-page-title {
  display: flex;
  align-items: center;
}

.dic-logo {
  margin-right: 0.625rem;
  width: 5rem;
  height: 4.375rem;
}

.dic-page-name {
  width: 18rem;
  height: 3.125rem;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  color: #000000;
}

.dictionary-letters-container {
  margin-top: 3.75rem;
  width: 53rem; 
  height: auto;
  display: flex;
  justify-content: center;
}
.dictionary-letters-container ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid; 
  grid-template-columns: repeat(4, 0.01fr);
  grid-gap: 0.5rem;
}

.dictionary-letter {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #c0c0c0;
  color: black;
  width: 8.813rem;
  height: 9.875rem;
  margin: 1rem; 
  border-radius: 1.25rem;
  font-size: 2.188rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  text-decoration: none;
  color: inherit;
}

.dictionary-letter:hover {
  background-color: #0fc0fc;
  transform: scale(1.02);
}

.dictionary-letter.selected {
  background-color: #0fc0fc;
}

.dictionary-the-letters {
  font-size: 6.25rem;
  height: 3.023rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-align: center;
}
/* Mobile Design */
@media (max-width: 971px) {
  .dic-logo{
    width:3rem ;
    height:2.375rem ;
  }
  .dic-page-name{
    width: 7.625rem;
    height: 2.375rem;
    font-family: "Inter", sans-serif;
    font-size: 1.563rem;
    font-weight: 400;
    line-height: 150%;
  }
  .dictionary-letters-container{
    width: 20.188rem;
  }
  .dictionary-letter{
    margin: 0.60rem;
    width: 3.75rem;
    height: 3.688rem;
    border-radius: 0.625rem;
  }
  .dictionary-the-letters{
    font-size: 3rem;
    line-height: 3.8rem; 
  }
}
