.homepage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    height: 100vh;
    padding-top: 10px; /*changed it */
  }
  
  .homepage-title {
    width: 192px;
    height: 50px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: #000000;
    margin: 0;
  }
  
  .navbar-container {
    display: flex;
    justify-content: center;
    width: 56.625rem;
    height: 9.744rem;
    margin-top: 2.5rem; 
  }
  
  .location {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 8.375rem;
    height: 9.688rem;
    margin: 0 10px;
    /* padding: 10px; */
    cursor: pointer;
    border-radius: 10px;
    background-color: #C0C0C0;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .location:hover {
    background-color: #b0b0b0;
    transform: scale(1.05);
  }
  
  .location.selected {
    background-color: #0FC0FC;
  }

.location-img {
  width: 6.125rem;
  height: 125rem;
    margin-top: 16px;
    margin-left: 26px;
    margin-right: 26px;
  }
  
  
  .location-icon {
    font-size: 24px;
  }
  
  .location-name {
    margin-top: 5px;
    font-size: 35px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
  }
  .accessibility-categories-container {
    margin-top: 40px; 
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .accessibility-category {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0FC0FC;
    color: black;
    width: 25.625rem;
    height: 4rem; 
    padding: 0 10px;
    margin: 4px 0; 
    border-radius: 10px;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .category:hover {
    background-color: #0FC0FC;
    transform: scale(1.02);
  }
  
  .accessibility-category-icon {
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 15px;
  }
  
  .accessibility-category-name {
    width: 17.563rem;
    height: 2.438rem;
    text-align: left;
    display: flex;
    align-items: center;
  }
  
  .accessibility-category-back {
    width: 1.875rem;
    height: 1.875rem;
    margin-left: 20px;
  }