@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Inter:wght@100..900&display=swap");

.all-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  padding-top: 0.625rem;
}

.title-page {
  display: flex;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 40px;
}

.name-page {
  width: 26rem;
  height: 3.125rem;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  color: #000000;
}

.letter-area {
  width: 17.313rem;
  height: 14.313rem;
}

.letter-style {
  font-family: "Montserrat", sans-serif;
  font-size: 18.75rem;
  color: #0fc0fc;
  font-weight: 700;
  line-height: 10.5rem;
}
.conditions-container {
  margin-top: 2.5rem;
  width: 47.625rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.conditions-list{
  width: 47.625rem;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.condition-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #ddd;
  padding: 1rem;
}

.condition {
  font-size: 2.5rem;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  line-height: 150%;
  padding-right: 1rem;
  text-align: left;
  cursor: pointer;
}

.condition-box:hover {
  border: 2px solid #0fc0fc;
  border-radius: 16px;
  background-color: #0fc0fc;
}

.icons {
  display: flex;
  align-items: center;
}

.bookmark,
.three-dots {
  font-size: 1.5rem;
  margin-left: 0.5rem;
  cursor: pointer;
}

.bookmark {
  stroke-width: 1;
}

/* Mobile Design */
@media (max-width: 971px) {
  .title-page{
    margin-bottom: 1.875rem;
  }
  .medical-condit-logo{
    width:2.375rem ;
    height:2.375rem ;

  }
  .name-page{
    width: 15.625rem;
    height: 2.375rem;
    font-family: "Inter", sans-serif;
    font-size: 1.563rem;
    font-weight: 400;
    line-height: 150%;
  }
  .letter-area{
    width:6.625rem ;
    height: 7.375rem;
  }
  .letter-style{
    font-size: 8rem;
  }
  .conditions-container{
    width:20.188rem ;
    height: auto;
  }
  .conditions-list{
    width:20.188rem ;
    height: auto;
  }
  .condition{
    font-size: 1.25rem ;
    padding: 0 0.938rem 0 0.938rem;
    text-align: left;
  }

  .bookmark-img, .unbookmarkimg{
    width:2.313rem ;
    height: 2.313rem;
  }
}