@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Inter:wght@100..900&display=swap");

.medical-condit-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  height: 100vh;
  padding-top: 0.625rem;
}
.medical-condit-title {
  display: flex;
  align-items: center;
}

.medical-condit-logo {
  margin-right: 0.625rem;
  width: 4.375rem;
  height: 4.375rem;
}

.medical-condit-name {
  width: 26rem;
  height: 3.125rem;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  color: #000000;
  margin: 0;
}

.nav-medical-condit-container {
  display: flex;
  justify-content: center;
  width: 56.625rem;
  height: 9.744rem;
  margin-top: 2.5rem;
}

.location-condits {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 8.375rem;
  height: 9.688rem;
  margin: 0 0.625rem;
  cursor: pointer;
  border-radius: 0.625rem;
  background-color: #c0c0c0;
  transition: background-color 0.3s, transform 0.3s;
  text-decoration: none;
  color: inherit;
}

.location-condits:hover {
  background-color: #b0b0b0;
  transform: scale(1.05);
}

.location-condits.selected {
  background-color: #0fc0fc;
}

.location-condits-img {
  width: 6.125rem;
  height: 6.125rem;
  margin-top: 1rem;
  margin-left: 1.625rem;
  margin-right: 1.625rem;
}

.location-condits-icon {
  font-size: 1.5rem;
}

.location-condits-name {
  margin-top: 0.313rem;
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: black;
}
.medical-letters-container {
  margin-top: 3.75rem;
  width: 53rem; 
  height: auto; 
  display: flex;
  justify-content: center;
}
.medical-letters-container ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid; 
  grid-template-columns: repeat(4, 0.01fr);
  grid-gap: 0.5rem;
}
.letter-items{
  list-style: none;
}

.medical-letter {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #c0c0c0;
  color: black;
  width: 8.813rem;
  height: 9.875rem;
   margin: 1rem; 
  border-radius: 1.25rem;
  font-size: 2.188rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  text-decoration: none;
  color: inherit;
}

.medical-letter:hover {
  background-color: #0fc0fc;
  transform: scale(1.02);
}

.medical-letter.selected {
  background-color: #0fc0fc;
}

.medical-the-letters {
  font-size: 6.25rem;
  height: 3.023rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-align: center;
}

/* Mobile Design */
@media (max-width: 971px) {
  .medical-condit-logo{
    width:2.375rem ;
    height:2.375rem ;

  }
  .medical-condit-name{
    width: 15.625rem;
    height: 2.375rem;
    font-family: "Inter", sans-serif;
    font-size: 1.563rem;
    font-weight: 400;
    line-height: 150%;
  }

  .nav-medical-condit-container {
    margin-top: 2.063rem;
    width: 17.2rem;
    height: 14.8rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
  }

  .location-condits {
    margin: 0.375rem;
    width: 5.164rem;
    height: 6.994rem;
    border-radius: 0.375rem;
  }
  .location-condits-img{
    width: 3.791rem;
    height: 3.791rem;
    margin-right: 0.654rem;
    margin-left: 0.719rem;
  }
  .location-condits-name {
    font-size: 0.75rem;
  }

  .medical-letters-container {
    width: 20.188rem;
  }
  .medical-letter{
    margin: 0.60rem;
    width: 3.75rem;
    height: 3.688rem;
    border-radius: 0.625rem;
  }
  .medical-the-letters{
    font-size: 3rem;
    line-height: 3.8rem; 

  }
}
