@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Inter:wght@100..900&display=swap");

.medical-condit-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  height: 100vh;
  padding-top: 0.625rem;
}

.medical-condit-title {
  width: 104.461rem;
  height: 9.125rem;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 2.5rem; /*40px*/
  font-weight: bold;
  color: #000;
  margin: 0;
}

.medical-condit-name {
  padding-left: 1.25rem;
}

.nav-medical-condit-container {
  display: flex;
  justify-content: center;
  width: 82.813rem;
  height: 14.25rem;
  margin-top: 5.188rem;
}

.location-condits {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 8.4rem;
  height: 9.7rem;
  margin: 0 0.938rem;
  padding: 0.625rem;
  cursor: pointer;
  border-radius: 0.625rem;
  background-color: #c0c0c0;
  transition: background-color 0.3s, transform 0.3s;
}

.location-condits:hover {
  background-color: #b0b0b0;
  transform: scale(1.05);
}

.location-condits.selected {
  background-color: #0fc0fc;
}

.location-condits-img {
  width: 6.125rem;
  height: 6.125rem;
  margin-top: 1rem;
  margin-left: 1.625rem;
  margin-right: 1.625rem;
}

.location-condits-icon {
  font-size: 1.5rem;
}

.location-condits-name {
  margin-top: 0.313rem;
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: black;
}

.medical-letters-container {
  margin-top: 3.75rem;
  width: 53rem; /* Had I use the Figma width, the screen would */
  height: 79rem; /* have been 2x2, instead of the 4x4 in the */
  display: grid; /* design on the Figma. */
  grid-template-columns: repeat(4, 0.01fr);
  grid-gap: 0.5rem;
  justify-content: center;
}

.medical-search-bar-container {
  padding-top: 2.5rem;
  padding-bottom: 0;
  display: flex;
  justify-content: center;
}

.medical-search-bar {
  position: relative;
  display: flex;
  align-items: center;
}

.medical-searchbox {
  width: 49rem;
  height: 4rem;
  border-radius: 0.5rem;
  color: #b0b0b0;
  border: 1px solid #b0b0b0;
  padding-left: 2.5rem;
  padding-right: 3.5rem;
}

.medical-search-icon {
  position: absolute;
  left: 0.75rem;
  width: 40px;
  height: 40px;
  pointer-events: none;
  color: #b0b0b0;
}

input {
  text-indent: 1.1rem;
  font-size: 1.5rem;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

.medical-microphone-icon {
  position: absolute;
  right: 10px;
  width: 50px;
  height: 50px;
  pointer-events: none;
  color: #000;
}

.medical-letter {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #c0c0c0;
  color: black;
  width: 8.813rem;
  height: 9.875rem;
  margin: 1rem; /*adjusted from figma to 24px*/
  border-radius: 1.25rem;
  font-size: 2.188rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.medical-letter:hover {
  background-color: #0fc0fc;
  transform: scale(1.02);
}

.medical-letter.selected {
  background-color: #0fc0fc;
}

.medical-the-letters {
  font-size: 6.25rem;
  height: 3.023rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-align: center;
}

/* Tablet */
@media (max-width: 1024px) {
  .medical-condit-name {
    font-family: "Inter", sans-serif;
    font-size: 1.563rem;
    font-weight: 500;
    padding-left: 0;
  }

  .nav-medical-condit-container {
    /* flex-direction: column;
    align-items: center; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    width: 17.114rem;
    height: 14.8rem;
    margin: 0.375rem;
  }

  .location-condits {
    width: 5.164rem; /* Adjust width for tablets */
    height: 6.994rem; /* Adjust height for tablets */
    margin: 0.375rem; /* Adjust margin for tablets */
  }
  .location-condits-img {
    width: 3.791rem;
    height: 3.791rem;
    /* margin-top: 0.654rem; */
    margin-right: 0.654rem;
    margin-left: 0.719rem;
    /* margin-bottom: 2.549rem; */
  }
  .location-condits-name {
    font-size: 0.75rem;
  }

  .medical-search-bar-container {
    width: 20.188rem;
    height: 8rem; /* 3.688rem */
    padding-top: 2.75rem;
  }
  .medical-search-icon {
    width: 1.5rem;
    height: 1.5rem;
  }
  .medical-microphone-icon {
    height: 1.875rem;
  }
  .medical-searchbox {
    width: 20.188rem;
    height: 3.625rem;
    font-size: 16px;
    /* height: 4rem; */
    padding-left: 3rem;
    padding-right: 3.625rem;
  }

  .medical-letters-container {
    grid-template-columns: repeat(4, 1fr); /* 3 columns for tablets */
    width: 19.688rem; /* Adjust width for tablets */
    height: 35.313rem;
    grid-gap: 0;
  }
  .medical-letter {
    width: 3.75rem;
    height: 3.688rem;
    margin: 0.781rem;
    border-radius: 0.625rem;
  }
  .medical-the-letters {
    height: 2.5rem;
    font-size: 2.6rem;
  }
}

/* Phone Styles (max-width: 767px) */
@media (max-width: 767px) {
  .page-title {
    font-size: 1.5rem; /* Adjust font size for phones */
    width: 100%; /* Full width for phones */
  }

  .nav-container {
    flex-direction: column;
    align-items: center;
  }

  .location-condits {
    width: 6rem; /* Adjust width for phones */
    height: 7rem; /* Adjust height for phones */
    margin: 0.5rem; /* Adjust margin for phones */
  }

  .letters-container {
    grid-template-columns: repeat(3, 1fr); /* 3 columns for phones */
    width: 90%; /* Adjust width for phones */
  }

  .search-bar {
    width: 100%; /* Full width for phones */
  }

  .searchbox {
    width: calc(100% - 3.5rem); /* Adjust width for phones */
  }

  .search-icon,
  .microphone-icon {
    width: 30px; /* Adjust icon size for phones */
    height: 30px;
  }
}
