.myAccommodations {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  height: 100vh;
  padding-top: 10px;
}

.myAccommodations-title {
  width: 26.125rem;
  height: 3.125rem;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  color: #000000;
  margin: 0;
}

.myNavbar-container {
  display: flex;
  justify-content: center;
  width: 56.625rem;
  height: 9.744rem;
  margin-top: 2.5rem;
}

.myLocation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 8.375rem;
  height: 9.688rem;
  margin: 0 0.625rem;
  cursor: pointer;
  border-radius:  0.625rem;
  background-color: #c0c0c0;
  transition: background-color 0.3s, transform 0.3s;
  text-decoration: none;
  color: inherit;
}

.myLocation:hover {
  background-color: #b0b0b0;
  transform: scale(1.05);
}

.myLocation.selected {
  background-color: #0fc0fc;
}

.myLocation-img {
  width: 6.2rem;
  height: 6.2rem;
  margin-top: 1rem;
  margin-left: 1.625rem;
  margin-right: 1.625rem;
}

.myLocation-name {
  margin-top: 0.313rem;
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}
.myAccessibility-categories-container {
  margin-top: 2.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.myAccessibility-categories-container ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.myAccessibility-category {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #0fc0fc;
  color: black;
  width: 27.625rem;
  height: 4rem;
  padding: 0 0.625rem;
  margin: 0.25rem 0;
  border-radius: 0.625rem;
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  text-decoration: none;
  color: inherit;
}

.myCategory:hover {
  background-color: #0fc0fc;
  transform: scale(1.02);
}

.myAccessibility-category-icon {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 0.813rem;
}

.myAccessibility-category-name {
  width: 21.188rem;
  height: 2.438rem;
  text-align: left;
  display: flex;
  align-items: center;
}

.myAccessibility-category-back {
  width: 33.63px;
  height: 43.73px;
}

/* Mobile Design */
@media (max-width: 971px) {
  .myAccommodations-title{
    font-size: 1.563rem;
    height: 2.375rem;
  }
  .myNavbar-container {
    margin-top: 2.063rem;
    width: 17.2rem;
    height: 14.8rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
  }

  .myLocation {
    margin: 0.375rem;
    width: 5.164rem;
    height: 6.994rem;
    border-radius: 0.375rem;
  }

  .myLocation-img {
    width: 3.791rem;
    height: 3.791rem;
    margin-right: 0.654rem;
    margin-left: 0.719rem;
  }

  .myLocation-name {
    font-size: 0.75rem;
  }
  .myAccessibility-categories-container {
    margin-top: 2.688rem;
    width: 21.39rem;
    height: 25.188rem;
  }

  .myAccessibility-category {
    width: 21.39rem;
    height: 4.263rem;
  }

  .myAccessibility-category-name {
    width: 15.236rem;
    height: 1.55rem;
    font-size: 1.18rem;
  }
  .myAccessibility-category-icon {
    margin-right: 0.5rem;
  }

}